<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <img src="./assets/ensalada-de-cogollos.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Ensalada de pollo</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-primary">Cocinar</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="./assets/1296-espaguetis-sicilianos-al-pesto-rojo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Spaguetis al pesto</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-primary">Cocinar</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="./assets/1443-merluza-al-vapor-con-vinagreta-de-tomate-y-aceite-de-trufa-blanca.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Merluza al vapor</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content.</p>
                <a href="#" class="btn btn-primary">Cocinar</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="./assets/5511-1-sopas-de-ajo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sopa de ajo</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-primary">Cocinar</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="./assets/huevos-patatas-y-setas-de-primavera.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Huevos con papas</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-primary">Cocinar</a>
            </div>
        </div>
    </div>
</div>